<!DOCTYPE html>
<html>
  <%- include("../partials/header.ejs") %>
  <body>
    <h1 class='pagetitle'><%= title %></h1>
    <form action="/skills" method="POST" class='content'>
        <input type="text" name="skill">
        <button type="submit">Add Skill</button>
    </form>
  </body>
</html>