<!DOCTYPE html>
<html>
  <head>
    <title><%= skill.skill %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= skill.id %></h1>
    <h3><%= skill.skill %></h3>
    <h3><%= skill.done %></h3>
  </body>
</html>